.pageContainer {
  min-height: 100vh;
  padding: 20px;
}

.headerContainer {
  border-bottom: 1px solid green !important;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-height: 30px;
}

.footerContainer {
  min-height: 50px;
  border-top: 1px solid green !important;
  padding: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.submitButton {
  padding: 10px;
  margin-top: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #f50057;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: #d5004f;
}

.btnContainer {
  margin-top: 10px;
}
